@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer components {
  .layout-center {
    @apply max-w-screen-xl mx-auto;
  }
  .green {
    @apply text-[#59871F] bg-[#59871F] bg-opacity-20;
  }
  .blue {
    @apply text-[#1F8787] bg-[#1F8787] bg-opacity-20;
  }
  .red {
    @apply text-[#F0493E] bg-[#F0493E] bg-opacity-20;
  }
  .purple {
    @apply text-[#5A58A0] bg-[#5A58A0] bg-opacity-20;
  }
}

.background {
  background-image: url("/a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
