@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer components {
  .layout-center {
    @apply max-w-screen-xl mx-auto;
  }
}

.background {
  background-image: url("/a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
